@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Reddit+Mono:wght@200..900&display=swap');

/* ---------- */

.tituloPagina {
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
}

/* ---------- */

.filmes {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    flex-wrap: wrap;
    margin-top: 10px;
}

.containerFilmes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.containerFilmes img {
    height: 420px;
    width: auto;
    margin-bottom: 9px;
    object-fit: cover;
    border-radius: 10px;
    transition: ease 0.2s;
}

.containerFilmes h3 {
    font-size: 18px;
    max-width: 280px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerFilmes p {
    font-size: 17px;
    justify-self: flex-end;
}

.containerFilmes svg {
    color: #F7d354;
    font-size: 18px;
    margin-right: 5px;
}

.containerFilmes .cardFilme {
    /* background-color: #0e0e0ece; */
    padding: 22px 19px;
    margin: 20px 10px;
    border-radius: 10px;
    transition: ease 0.2s;
    height: 560px;
    /* border: solid 2px #0e0e0ece; */
}

.containerFilmes .cardFilme:hover {
    background-color: #2d2b2b;
    scale: 1.02;
    /* border: solid 2px rgb(105, 105, 105); */
}

.containerFilmes .cardFilme:hover img {
    border-radius: 10px 10px 0px 0px;
    /* border: solid 2px rgb(105, 105, 105); */
}

.containerFilmes .infoFilme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.containerFilmes .infoFilme section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', sans serif;
}

/* .containerFilmes .btnDetalhes {
    color: #fbff00e0;
    font-size: 19px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.2s;
    border: none;
    font-family: 'Rubik', sans-serif;

}

.containerFilmes .btnDetalhes:hover {
    color: #fbff00;
    text-shadow: 0 0 5px #818a02a4, 0 0 10px #818a02a4, 0 0 1px #818a02a4, 0 0 2px #818a02a4, 0 0 30px #818a0256, 0 0 40px #818a0256, 0 0 55px #818a0256, 0 0 75px #818a0256;
} */

/* ---------- */

@media screen and (max-width: 1500px) {
    .containerFilmes div.cardFilme {
        margin: 25px 10px;
    }

    .titulo {
        font-size: 25px;
    }

    .filme img {
        width: 280px;
        margin: 0;
        margin-bottom: 7px;
    }

    .containerFilmes h3 {
        font-size: 17px;
        max-width: 280px;
    }

    .containerFilmes p {
        margin-top: 5px;
        font-size: 16px;
    }

    .containerFilmes .btnDetalhes {
        font-size: 18px;
    }
}


@media screen and (max-width: 675px) {
    .containerFilmes div.cardFilme {
        background-color: #2d2b2b;
    }
}


@media screen and (max-width: 460px) {
    .tituloPagina {
        font-size: 20px;
        margin: 20px 0px;
    }

    .containerFilmes h3 {
        font-size: 18px;
        max-width: 280px;
        display: flex;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .containerFilmes .cardFilme {
        height: 230px;
    }

    .containerFilmes .infoFilme {
        height: auto;
        width: 193px;
    }

    .containerFilmes .infoFilme section {
        margin-bottom: 5px;
    }

    .containerFilmes img {
        width: auto;
        height: auto;
        object-fit: contain;
        margin: 0;
    }

    .containerFilmes p {
        margin: 0;
        font-size: 17px;
    }

    .containerFilmes div.cardFilme {
        display: flex;
        padding: 15px 15px;
        width: 385px;
        margin: 15px 0px;
    }

    .cardFilme div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 12px;
    }
}