.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    border-radius: 0 0 20px 20px;
    height: 75px;
    width: 95%;
    font-family: 'Cal Sans', sans-serif;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.logo {
    height: 25%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 100;

}

.nav a {
    font-size: 17px;
    text-decoration: none;
    color: #000000b1;
    margin: 0 20px;
    transition: ease 0.2s;
}

h3 {
    display: flex;
}
.nav a:hover {
    color: #000000;
}

.opcaoDropdown {
    position: relative;
    margin: 0 0 0 15px;
}

.dropdownProdutos {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #ffffffec;
    z-index: 999;
    flex-direction: column;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    list-style: none;
}

.dropdownProdutos li {
    list-style: none;
    margin: 5px 0;
}

.dropdownProdutos a {
    display: block;
    padding: 1px 0;
    color: #0d0d0d;
    text-decoration: none;
}

.dropdownProdutos a:hover {
    color: #6c6c6c;
}

.opcaoDropdown:hover .dropdownProdutos {
    display: flex;
}



/* ---------- */

@media screen and (max-width: 670px) {
    .logo {
        display: none;
    }
    
    .header {
        height: 75px;
    }

    .nav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 460px) {
    .logo {
        display: none;
    }
    
    .header {
        height: 65px;
    }

    .nav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {
    .logo {
        display: none;
    }

    .header {
        height: 50px;
    }

    .nav a {
        font-size: 16px;
    }
}
