.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav a {
    text-decoration: none;
    color: #e4e4e4;
    margin: 0 40px;
    transition: ease 0.2s;
}

.nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #979797a4, 0 0 10px #979797a4, 0 0 1px #979797a4, 0 0 2px #979797a4, 0 0 30px #979797a4, 0 0 40px #979797a4, 0 0 55px #979797a4, 0 0 75px #979797a4;
}

/* ---------- */

@media screen and (max-width: 670px) {
    .nav a {
        margin: 18px;
    }
}

@media screen and (max-width: 540px) {
    .nav a {
        font-size: 17px;
        margin: 15px;
    }
}

@media screen and (max-width: 480px) {
    .nav a {
        font-size: 15px;
    }
}

@media screen and (max-width: 440px) {
    .nav a {
        font-size: 13px;
        margin: 9px;

    }
}

@media screen and (max-width: 370px) {
    .nav a {
        font-size: 12px;
        margin: 7px;
    }
}